{% extends "container/public.html" %}

{% block content %}
    <h1>About me</h1>
    <p>
    Hey! As my <a href="/">home page</a> says, I go by Clarke on the 
    internet. I'm an 18 year old student from the UK. I've been 
    involved in web development for around 3 years now, and this 
    site in particular has been my passion project and main source 
    of practice during that time.</p>
    <h2>Hobbies & Interests</h2>
    <ul>
        <li>
            <strong>Photography</strong> (I have a <a href="https://cameradecision.com/review/Sony-Cyber-shot-DSC-H300">Sony Cybershot DSC-H300</a>)
            <ul>
                <li>
                    I'm currently working on a photography portfolio for this website, I'll link it here when it's done.
                </li>
            </ul>
        </li>
        <li>
            <strong>Programming</strong> (I'm quite proficient with JavaScript, but I definitely want to get more into Rust -&nbsp;
            <span class="strikethrough">it just intimidates me a bit, tbh</span> <strong>As of November 9th 2022, this site is written entirely with Rust.</strong>)
        </li>
        <li>
            <strong>Music</strong> (I've been learning the piano on and off for a few years now, but I'm mostly complete crap at it lol)
        </li>
    </ul>
{% endblock %}