{% extends "container/public.html" %}

{% block content %}
<h1>Here's some links</h1>
<h2>Webrings</h2>
<ul>
    <li>
        Hotline Webring [<a href="https://hotlinewebring.club/clarkeDOTgg/previous">&lt;&lt;</a>&nbsp;
        <a href="https://hotlinewebring.club/clarkeDOTgg/next">&gt;&gt;</a>]
    </li>
    <li>
        Retronaut Webring [<a href="https://webring.dinhe.net/prev/https://clarke.gg/">&lt;&lt;</a>&nbsp;
        <a href="https://webring.dinhe.net/next/https://clarke.gg/">&gt;&gt;</a>]
    </li>
    <li>
        Yesterweb Webring [<a href="https://webring.yesterweb.org/noJS/index.php?url=https://clarke.gg/&amp;d=prev">&lt;&lt;</a>&nbsp;
        <a href="https://webring.yesterweb.org/noJS/index.php?url=https://clarke.gg/&amp;d=rand">??</a>&nbsp;
        <a href="https://webring.yesterweb.org/noJS/index.php?url=https://clarke.gg/&amp;d=next">&gt;&gt;</a>]
    </li>
</ul>
<h2>Websites</h2>
<ul>
    <li>
        <a href="https://www.w3schools.com/css/default.asp">W3Schools</a>. I've linked the beginning of their CSS&nbsp;
        tutorial (which I can't give enough praise) here, but they have tutorials for all sorts of programming stuff.&nbsp;
    </li>
    <li>
        <a href="https://phaser.io/">Phaser</a> is a great game engine for making 2D games in JavaScript for the web.&nbsp;
        It's my go-to resource for making interactive website games and has a very simple API.
    </li>
    <li>
        <a href="https://wakatime.com/">WakaTime</a> is a great tool for tracking your coding habits. It's helped me a&nbsp;
        lot with tracking my productivity.
    </li>
</ul>
<h2>Books</h2>
<ul>
    <li>
        <a href="https://automatetheboringstuff.com/">Automate the Boring Stuff with Python</a> by Al Sweigart.&nbsp;
        This book is a great introduction to Python and is a great resource for learning how to automate tasks. It's&nbsp;
        also completely <strong>free</strong> to read!
    </li>
</ul>
<h2>Single pages</h2>
<ul>
    <li>
        The <a href="https://neocities.org/tutorials">Neocities Learning page</a>. A great place to get started with&nbsp;
        learning HTML. Their tutorial requires an account, but it's a great place, and platform, to get started with&nbsp;
        making sites.
    </li>
</ul>
{% endblock %}